extends layout

block content
  h1 Recently viewed
  ul
    each i in recentlyViewed
      li
        a(href="/page/#{i.id}")= i.title

  h1 Labeled as #miniseminar
  ul
    each i in labeled
      li
        a(href="/page/#{i.id}")= i.title
