extends layout

block content
  script.
    var theme = 'black';
    var transition = 'slide';
    function haha() {
      document.getElementById('query').innerText = '?theme=' + theme + '&transition=' + transition;
    }
    function setTheme(t) {
      theme = t;
      haha();
    }
    function setTransition(t) {
      transition = t;
      haha();
    }

  div.division
    h1 Recently viewed
    ul
      each i in recentlyViewed
        li
          a(href="/page/#{i.id}")= i.title

    h1 Labeled as #miniseminar
    ul
      each i in labeled
        li
          a(href="/page/#{i.id}")= i.title

  div.division
    p Query: 
      span#query ?theme=black&transition=slide
    h1 Themes
    ul
      each i in themes
        li
          a(onclick="setTheme('#{i}')")= i

    h1 Transitions
    ul
      each i in transitions
        li
          a(onclick="setTransition('#{i}')")= i

    div.
      <!-- Place this tag where you want the button to render. -->
      <a class="github-button" href="https://github.com/heycalmdown/miniseminar" data-icon="octicon-star" data-style="mega" data-count-href="/heycalmdown/miniseminar/stargazers" data-count-api="/repos/heycalmdown/miniseminar#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star heycalmdown/miniseminar on GitHub">Star</a>

  div.
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
