doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    style(type='text/css').
      .division {
        width:50%;
        float:left;
      }

  body
    block content
