doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/reveal.css')
    link(rel='stylesheet', href='/css/theme/black.css')#theme
    link(rel='stylesheet', href='/lib/css/zenburn.css')
  body
    .reveal
      .slides
        each section in sections
          unless section.sections
            section!=section
          else
            section
              each subSection in section.sections
                section!=subSection

    script(src='/lib/js/head.min.js')
    script(src='/js/reveal.js')
    script.
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        transition: 'slide', // none/fade/slide/convex/concave/zoom

        // Optional reveal.js plugins
        dependencies: [
          { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'plugin/zoom-js/zoom.js', async: true },
          { src: 'plugin/notes/notes.js', async: true }
        ]
      });
